@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: relative;
}

* {
  outline-color: #262b49;
}

/* custom scroll bar */
.cc-scrollbar::-webkit-scrollbar {
  width: 6px;

  height: 4px;
}

/* Track */
.cc-scrollbar::-webkit-scrollbar-track {
  background: #172a3fa7;
}

/* Handle */
.cc-scrollbar::-webkit-scrollbar-thumb {
  background: #2c4165b1;
  border-radius: 16px;
}

/* Handle on hover */
.cc-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #232323bb;
}

/* notes editor styles */
/* date highlight in notes editor */

div[role='textbox'] > p:has(> a > span) {
  line-height: 1.25rem !important;
}

div[role='textbox'] > p:has(> span) {
  line-height: 1.4rem !important;
}
/* markdown checkbox style */
div[role='textbox'] > ul > li[role='checkbox'] {
  line-height: 1.3rem !important;
}
/* markdown checkbox style */
div[role='textbox'] > ul > li[role='checkbox']::before {
  margin-top: 0.25rem !important;
  /* line-height: 1.4rem !important; */
}
/* markdown checkbox style */
div[role='textbox'] > ul > li[role='checkbox'][aria-checked='true']::before {
  background-color: #34d399 !important;
  /* line-height: 1.4rem !important; */
}
/* markdown checkbox style */
div[role='textbox'] > ul > li[role='checkbox']::after {
  top: 8px !important;
  /* line-height: 1.4rem !important; */
}

.add-note-date-highlight {
  background-color: #fbbf24;
  font-size: 13px;
  color: #24283f !important;
  font-weight: 400;
  padding: 1px 4px;
  border-radius: 1px;
}
