@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scroll bar */
.cc-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.cc-scrollbar::-webkit-scrollbar-track {
  background: #111a26a7;
}

/* Handle */
.cc-scrollbar::-webkit-scrollbar-thumb {
  background: #010406b1;
  border-radius: 16px;
}

/* Handle on hover */
.cc-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #232323bb;
}

/* glassmorphism bg */

.glassmorphism-bg {
  background: #3130302b;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 8px;
  border: 1px solid #ffffff2e;
}

/* notes editor styles */
/* date highlight in notes editor */

.add-note-date-highlight {
  background-color: #21d4a1;
  font-size: 13.5px;
  caret-color: #10121f;
  color: #10121f !important;
  font-weight: 400;
  padding: 2px 6px;
  border-radius: 1.5px;
}
