@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scroll bar */
.cc-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.cc-scrollbar::-webkit-scrollbar-track {
  background: #111a26a7;
}

/* Handle */
.cc-scrollbar::-webkit-scrollbar-thumb {
  background: #01050ab1;
  border-radius: 16px;
}

/* Handle on hover */
.cc-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #232323bb;
}

/* notes editor styles */
/* date highlight in notes editor */

.add-note-date-highlight {
  background-color: #d56be5;
  font-size: 13.5px;
  color: #10121f !important;
  font-weight: 500;
  padding: 1px 4px;
  border-radius: 1.5px;
}
