/* custom scroll bar */
.cc-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.cc-scrollbar::-webkit-scrollbar-track {
  background: #021326a6;
}

/* Handle */
.cc-scrollbar::-webkit-scrollbar-thumb {
  background: #293240cd;
  border-radius: 16px;
  cursor: default;
}

/* Handle on hover */
.cc-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #212936cd;
}

.notes-container {
  position: fixed;
  bottom: 90px;
  right: 24px;
  width: 350px;
  padding: 12px 12px;
  height: fit-content;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2147483647;
  border-radius: 12px;
  box-shadow: #00000059 0px 5px 15px;
  /* glassmorphism bg */
  box-shadow: 0 8px 32px 0 #2443625e;
  background: #020b1ebd;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 8px;
}
/* TODO - FIX - glassmorphism bg is not consistent with ux in dark/light themes  */
.note {
  width: 96%;
  padding: 12px 12px;
  background-color: #262b4968;
  border-radius: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  &:last-child {
    margin-bottom: 0px;
  }
  &:hover {
    transform: scale(0.97);
  }
  /* title */
  > p {
    font-size: 15px;
    color: #f1f1f1db;
    font-weight: 200;
    margin: 0;
    text-overflow: ellipsis;
    max-width: 95%;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
  }
  /* metadata */
  .bottom-container {
    margin-top: 8px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 10px;
    font-weight: 300;
    color: #767f8b;
    > span {
      display: flex;
      align-items: center;
      > svg {
        margin-right: 2px;
        transform: scale(0.75);
      }
    }
    > span:first-child {
      margin-right: 8px;
    }
  }
}

.new-note {
  width: 96%;
  padding: 10px 10px;
  border-radius: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  color: #56616c;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262b4968;
  &:hover {
    transform: scale(0.97);
  }
  > svg {
    transform: scale(0.9);
  }
}
